{% extends "base.html" %}
{% include 'header.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<!-- Starts here -->
{% for row in vijesti %}
<div class="col-md-12 mb-5">
    <div class="blog-post col-md-5 offset-md-3">
        <h2 class="blog-post-title">{{row.naslov}}</h2>
        <p class="blog-post-meta"> autor <strong href="#">{{row.korisnik}}</strong></p>
        {% if row.slika != '' %}
            <img style="max-width: 600px;" class="img-fluid mb-2 pl-0 col-md-12" src="{{row.slika}}" alt="Nema Slike">
        {% endif %}
        <p class="border p-2" style="white-space: pre-line">{{row.tekst[0:400]}}...   
                <a href="/kolumna/{{row.id}}">Procitaj vise</a>
        </p>
      </div><!-- /.blog-post -->
</div>


{% endfor %}


{% include 'footer.html' %}
{% endblock %}
